<header class="ttb-header">
    <img
            class="profile-img"
            src="{{actor.img}}"
            data-edit="img"
            title="{{actor.name}}"
            width="96"
            height="96"
    />

    <div class="ttb-header-fields">
        <label>
            Actor Name
            <input type="text" name="name" value="{{actor.name}}" />
        </label>

        <label>
            Fated Name
            <input type="text" name="system.fatedName" value="{{system.fatedName}}" />
        </label>

        <label>
            Player Name
            <input type="text" name="system.playerName" value="{{system.playerName}}" />
        </label>

        <label>
            Allegiance
            <input type="text" name="system.allegiance" value="{{system.allegiance}}" />
        </label>
    </div>

    <div class="ttb-header-actions">
        <button type="button" class="ttb-flip-button" data-action="flip-fate">
            Flip Fate Card
        </button>
    </div>
</header>