<form class="{{cssClass}}" autocomplete="off">
    <header style="display:flex; gap:1rem; align-items:center; padding:1rem;">
        <img
                src="{{actor.img}}"
                data-edit="img"
                title="{{actor.name}}"
                width="96"
                height="96"
        />

        <div style="flex:1;">
            <label>Name</label>
            <input type="text" name="name" value="{{actor.name}}" />
            <p>Type: {{actor.type}}</p>
        </div>
    </header>
</form>